#card-ruby {
  background-image: linear-gradient(rgba(250,250,250,0.9),rgba(250,250,250,0.9)), url("images/ruby.jpeg");
  background-size: contain;
}

#card-sql {
  background-image: linear-gradient(rgba(250,250,250,0.9),rgba(250,250,250,0.9)), url("images/sql.png");
  background-size: contain;
}

#card-bali {
  background-image: linear-gradient(rgba(250,250,250,0.9),rgba(250,250,250,0.9)), url("images/bali.jpg");
  background-size: contain;
}


.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #69779b;
/*# padding: 0.2px;*/
  margin: 20px;
  padding: 20px;
}
