.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 1.5vw;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}

.card-category {
  background-size: cover;
  height: 33vh;
  width: 100%;
  border-radius: 1px;
  position: relative;
  transition: 0.5s;
}

.card-category:hover {
  transform: scale(1.05);
}

.card-category a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  text-decoration: none;
}

.text {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
  color: white;
}


.text:hover {
  opacity:1;
  text-shadow: 0.5px 0.5px 0.5rem #252525;
}


.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: .5vw;
  justify-items: center;
}

.contact-card {
  overflow: hidden;
  height: 10vh;
  width: 75%;
/*  box-shadow: 0 0 1px rgba(0,0,0,0.2);*/
  display: flex;
}

.contact-card h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}

.contact-card i {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}

.contact-card p {
  font-size: 0.8em;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 0.5vh;
}


/*.contact {
    height: 33vh;
  width: 100%;
}

.icon {
  height: 10%;
  width: 10%;
}

.contact-details {
  height: 10%;
  width: 30%;
}
*/

/*Media Queries*/

/*Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .contacts {
    grid-template-columns: 1fr;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .contacts {
  grid-template-columns: 1fr 1fr 1fr;
}
}

