.line-inline li {
  display: inline;
}

.social-icon {
  font-size: 4vw;
  color: #252525;
}

.line-inline a {
  color: #252525;
}


.social-icon:hover {
  color: #115173;
}

ul {
  list-style: none;
  padding-inline-start: 0px;
}
