.line-inline li {
  display: inline;
}

.social-icon {
  font-size: 2rem;
  color: #252525;
}

.line-inline a {
  color: #252525;
}

/*line-inline i*/


.social-icon:hover {
  color: #a80038;
  transform: rotate(90deg);
}

ul {
  list-style: none;
  padding-inline-start: 0px;
}

.rotate {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}
.rotate.down {
    -moz-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
}
