.bg-custom {
  background-color: #252525;
}

.nav-item {
  transition: all .07s ease;
  width: 10rem
  text-shadow: 0 0 .5rem white;
}

.nav-item:hover {
  transform: scale(1.2);
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.navbar-toggler {
  background-color: #F0F0F0;
}
